:root {
    --global-padding: 20ch;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    width: 100vw;

    background-color: #373247;
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 0.1px; 
}

#headerDesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-design {
    width: auto;
    max-height: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link {
    font-family: "Dancing Script", cursive;
    font-size: large;
    text-decoration: none;
    color: black;
    padding: 1.5em;
    transition: 0.3s;
}

.link:hover {
    transition: 0.3s;
    color: #e7efc5;
    background-color: #373247;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 1.5em;
    font-size: large;
    border: none;
    cursor: pointer;
    font-family: "Dancing Script", cursive;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Dancing Script", cursive;
}

.dropdown-content a:hover {
    background-color: #e7efc5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e7efc5;
}

#section-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15ch;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    flex-wrap: wrap;
}

#section-home > div:first-child {
    flex: 1 1 auto;
    max-width: 50%; 
}


#text-title-home {
    font-family: "Dancing Script", cursive;
    font-size: 10vh;
    font-weight: bold;
    color: antiquewhite;
}

#text-subtitle-home {
    font-family: "Cormorant Garamond", serif;
    font-size: 5vh;
    line-height: 1.5;
    color: antiquewhite;
}

#text-info-home {
    font-family: "Cormorant Garamond", serif;
    text-wrap: wrap;
    font-size: 2.5vh;
    line-height: 1.5;
    color: antiquewhite;
}

#img-home {
    width: auto;
    max-height: 40rem;
    object-fit: cover;
    flex: 0 1 auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icon-design{
    padding-left: 1rem;
}

#cv-btn {
    background-color: #e7efc5;
    padding: 1.5ch 3ch;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    color: #373247;
    font-size: large;
    text-decoration: none;
    border-radius: 3ch;
    transition: all 0.5s ease;
}

#cv-btn:hover {
    box-shadow: 0 4px 16px rgb(212, 211, 155, 1);
    transition: all 0.5s ease;
}

@media (max-width: 1345px) {

    #section-home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #img-home {
        max-width: 100%;
    }
}

#section-about {
    padding-top: 15ch;
    padding-left: var(--global-padding);
}

#section-projects {
    padding-top: 15ch;
    padding-left: var(--global-padding);
}