:root {
    --global-padding: 25ch;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    width: 100vw;

    background-color: #373247;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.1px;
}

#headerDesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-design {
    width: auto;
    max-height: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link {
    font-family: "Dancing Script", cursive;
    font-size: large;
    text-decoration: none;
    color: #373247;
    padding: 1.5em;
    transition: 0.3s;
}

.link:hover {
    transition: 0.3s;
    color: #E2D0BE;
    background-color: #373247;
}

.dropdown {
    display: none;
}

.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    color: #373247;
    padding: 1.5em;
    font-size: large;
    border: none;
    cursor: pointer;
    font-family: "Dancing Script", cursive;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: #373247;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #373247;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Dancing Script", cursive;
}

.dropdown-content a:hover {
    background-color: #373247;
    color: #E2D0BE;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #373247;
    color: #E2D0BE;
}

@media (max-width: 768px) {
    .container .link {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

#section-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20ch;
    padding-bottom: 10ch;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    flex-wrap: wrap;
}

#section-home>div:first-child {
    flex: 1 1 auto;
    max-width: 50%;
}


#text-title-home {
    font-family: "Dancing Script", cursive;
    font-size: 10vh;
    font-weight: bold;
    color: #E2D0BE;
}

#text-subtitle-home {
    font-family: "Cormorant Garamond", serif;
    font-size: 5vh;
    line-height: 1.5;
    color: #f16575;
}

#text-info-home {
    font-family: "Cormorant Garamond", serif;
    text-wrap: wrap;
    font-size: 2.5vh;
    line-height: 1.5;
    color: #E2D0BE;
}

#img-home {
    width: auto;
    max-height: 40rem;
    object-fit: cover;
    flex: 0 1 auto;
}

#section-home>div:last-child {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icon-design {
    padding-left: 1rem;
}

#icon-img-design {
    width: 4.5rem;
    transition: 0.5s;
}

#icon-img-design:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

#cv-btn {
    background-color: #E2D0BE;
    padding: 2ch 3ch;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    color: #373247;
    font-size: large;
    text-decoration: none;
    border-radius: 3ch;
    transition: 0.5s;
}

#cv-btn:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

#section-about {
    padding-top: 15ch;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    padding-bottom: 10ch;
}

#container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-title-about {
    font-family: "Dancing Script", cursive;
    font-size: 10vh;
    font-weight: bold;
    color: #E2D0BE;
}

.studies {
    margin: 0 1rem;
    text-align: center; 
}

.grid-container-studies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3ch;
}

#text-subtitle-about {
    font-family: "Cormorant Garamond", serif;
    font-size: 5vh;
    line-height: 1.5;
    color: #E2D0BE;
}

#text-title-card {
    font-family: "Cormorant Garamond", serif;
    padding: 1ch;
    font-size: 3.5vh;
    font-weight: 900;
    color: #f16575;
}

#text-description-about {
    font-family: "Cormorant Garamond", serif;
    padding: 1ch;
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0;
    color: #E2D0BE;
}

.card-studies {
    display: flex;
    margin: 2.5em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(45deg, #373247, #49405e, #5a4f75, #6b5e8c);
    border-radius: 0.5em;
    padding: 2em;
    box-shadow: 0 1px 8px 4px rgb(65, 120, 134);
}

.email-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#email-address {
    font-family: "Cormorant Garamond", serif;
    font-size: 3.5vh;
    font-weight: 900;
    color: #f16575;
}

#copy-email-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3ch;
    margin-right: 3ch;
    background-color: #E2D0BE;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    color: #373247;
    font-size: large;
    text-decoration: none;
    border-radius: 1ch;
    transition: 0.5s;
}

#copy-email-btn:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

#copy-email-btn img {
    width: 50%;
}

#notification {
    font-family: "Cormorant Garamond", serif;
    margin-top: 1em;
    font-size: 1em;
    color: #4CAF50;
}

.hidden {
    display: none;
}


#section-projects {
    padding-top: 15ch;
    padding-bottom: 10ch;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-title-projects {
    font-family: "Dancing Script", cursive;
    font-size: 10vh;
    font-weight: bold;
    color: #E2D0BE;
}

#text-subtitle-projects {
    font-family: "Cormorant Garamond", serif;
    font-size: 5vh;
    line-height: 1.5;
    color: #E2D0BE;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3ch;
}

.card-projects {
    display: flex;
    margin: 2.5em;
    padding-bottom: 1.5em;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background: linear-gradient(45deg, #373247, #49405e, #5a4f75, #6b5e8c);
    border-radius: 0.5em;
    box-shadow: 0 1px 8px 4px rgb(65, 120, 134);
    box-sizing: border-box;
}

.card-projects img {
    width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin: 0;
    padding: 0;
}

#skills-design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1ch;
}

#skills-design img {
    width: 5ch;
    height: auto;
    margin: 1ch;
}

.links-design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    gap: 3em;
}

.links-style {
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5vh;
    font-weight: 600;
    text-decoration: none;
    color: #E2D0BE;
    transition: 0.3s;
}

.links-style:hover {
    transition: 0.3s;
    color:#f16575;
}

#footer-design {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255);
    width: 100%;
    padding: 1em;
    box-sizing: border-box; 
    flex-wrap: wrap; 
}

.container-footer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 1em; 
}

#logo-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-footer-design {
    width: auto;
    max-height: 15em;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container-studies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container-studies {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container-studies {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1345px) {

    #headerDesign {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2ch;
        padding-left: 2ch;
    }

    #section-home {
        padding-top: 15ch;
        padding-right: 2ch;
        padding-left: 2ch;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #text-info-home {
        padding-bottom: 2ch;
    }

    #icon-img-design {
        width: 2.2rem;
    }

    #cv-btn {
        padding: 0.7ch 2.5ch;
        color: #373247;
        font-size: medium;
    }

    #img-home {
        padding-top: 2ch;
        max-width: 100%;
    }

    #section-about {
        padding-top: 15ch;
        padding-right: 2ch;
        padding-left: 2ch;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #section-projects {
        padding-top: 15ch;
        padding-right: 2ch;
        padding-left: 2ch;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}